<!-- Vendor JS -->
<script src="js/vendors.min.js"></script>
<script src="js/pages/chat-popup.js"></script>
<script src="icons/feather-icons/feather.min.js"></script>

<script src="vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>

<!-- App -->
<script src="js/template.js"></script>
<script src="js/pages/dashboard2.js"></script>

</body>

</html>