<aside class="main-sidebar">
	<!-- sidebar-->
	<section class="sidebar position-relative">
		<div class="multinav">
			<div class="multinav-scroll" style="height: 100%;">
				<!-- sidebar menu-->
				<ul class="sidebar-menu" data-widget="tree">
					<li class="header">ڈیش بورڈ </li>
					<li>
						<a href="/">
							<i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>
							<span>ڈیش بورڈ</span>
						</a>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
							<span>طالب علم</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="/students/add"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>اندراج</a>
							</li>
							<li><a href="/students"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>طلباء</a>
							</li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
							<span>اساتذہ کرام</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="/teachers/add"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>اندراج</a>
							</li>
							<li><a href="/teachers"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>اساتذہ</a>
							</li>
						</ul>
					</li>
					<li class="header">فیس اور تنخواہ</li>
					<li>
						<a href="fee">
							<i class="icon-Write"><span class="path1"></span><span class="path2"></span></i>
							<span>فیس انتظام</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-File"><span class="path1"></span><span class="path2"></span><span
									class="path3"></span></i>
							<span>تنخواہ انتظام</span>
						</a>
					</li>
					<li class="header">دیگر</li>
					<li class="treeview">
						<a href="#">
							<i class="icon-Book-open"><span class="path1"></span><span class="path2"></span></i>
							<span>کلاسیں</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="/teachers/add"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>اندراج</a>
							</li>
							<li><a href="/teachers"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>اساتذہ</a>
							</li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="icon-Library"><span class="path1"></span><span class="path2"></span></i>
							<span>جدول وقت</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="widgets_blog.html"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>Blog</a></li>
							<li><a href="widgets_chart.html"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>Chart</a></li>
							<li><a href="widgets_list.html"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>List</a></li>
							<li><a href="widgets_social.html"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>Social</a></li>
							<li><a href="widgets_statistic.html"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>Statistic</a>
							</li>
							<li><a href="widgets_weather.html"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>Weather</a></li>
							<li><a href="widgets.html"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>Widgets</a></li>
							<li><a href="email_index.html"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>Emails</a></li>
							<li class="treeview">
								<a href="#">
									<i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>Maps
									<span class="pull-right-container">
										<i class="fa fa-angle-right pull-right"></i>
									</span>
								</a>
								<ul class="treeview-menu">
									<li><a href="map_google.html"><i class="icon-Commit"><span
													class="path1"></span><span class="path2"></span></i>Google
											Map</a></li>
									<li><a href="map_vector.html"><i class="icon-Commit"><span
													class="path1"></span><span class="path2"></span></i>Vector
											Map</a></li>
								</ul>
							</li>
							<li class="treeview">
								<a href="#">
									<i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>Modals
									<span class="pull-right-container">
										<i class="fa fa-angle-right pull-right"></i>
									</span>
								</a>
								<ul class="treeview-menu">
									<li><a href="component_modals.html"><i class="icon-Commit"><span
													class="path1"></span><span class="path2"></span></i>Modals</a>
									</li>
									<li><a href="component_sweatalert.html"><i class="icon-Commit"><span
													class="path1"></span><span class="path2"></span></i>Sweet
											Alert</a></li>
									<li><a href="component_notification.html"><i class="icon-Commit"><span
													class="path1"></span><span class="path2"></span></i>Toastr</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="header">امتحان</li>
					<li class="treeview">
						<a href="#">
							<i class="icon-Book-open"><span class="path1"></span><span
									class="path2"></span></i>
							<span>مضمون</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="/subject/add"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>اندراج</a>
							</li>
							<li><a href="/subject"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>لسٹ</a>
							</li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="icon-Book-open"><span class="path1"></span><span
									class="path2"></span></i>
							<span>امتحانی نمبرات</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							{{!-- <li><a href="/marks/add"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>اندراج</a>
							</li> --}}
							<li><a href="/marks"><i class="icon-Commit"><span class="path1"></span><span
											class="path2"></span></i>لسٹ</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/results">
							<i class="icon-File"><span class="path1"></span><span class="path2"></span><span
									class="path3"></span></i>
							<span>نتائج</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</aside>